.hero {
  /* background: url('/img/your-image.png') no-repeat center -15px; */
  background-size: cover;
  min-height: 600px;       
}

.hero img {
  width: 30%;
  border-radius: 2em;
}

.hero-text {
  vertical-align: top;
  color: #090909;
  width: 50%;
  margin: 0 auto;
  padding: 13% 0 5% 0;
}

.hero-text p {
  font-size: 1.4rem;                
  text-align: center;
}

@media (min-width: 350px) {
  .hero {
      min-height: 700px;
  }
  .hero-text p {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .hero {
      width: 75%;
      margin: 0 auto;
      min-height: 1200px;
  }
  .hero-text p {
    font-size: 2rem;
  }
}